{% extends "layout.html" %}

{% block title %}Color Harmony{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'color_harmony.js') }}"></script>

<br>
    <h1 class="lesson-title" style="color: #4a7a4a">What is color harmony?</h1>
    <p class="lesson-subtitle">
        Color harmony is about choosing <strong>color combinations</strong> that look balanced and appealing. 
        Here are the most common color relationships. 
        They can help you choose colors that look good together.
    </p>
   
    <img src="/static/images/color_harmony.jpg" class="color_harmony" alt="Color Harmonies">
      <br>
      <br>
    <p class="lesson-subtitle">
        You can use color harmony to create <strong>color themes</strong> for your bouquets:
    </p>


      <div class="image-text-container">
        <img src="/static/images/bouquet.png" alt="flower" class="left-image">
        <p class="lesson-subtitle">
          This bouquet uses a color theme of <span class="line-break"><strong>light pink, orange, and magenta</strong></span> 
          which are analogous colors.
        </p>
      </div>


<div class="back_next">
    <div class="row justify-content-between">
        <div class="col-auto">
            <a href="/greens" class="btn btn-outline-primary">Return</a>
        </div>
        <div class="col-auto">
            <a href="/" class="btn btn-outline-primary">Next</a>
        </div>
    </div>
</div>

{% endblock %}
