{% extends "layout.html" %}

{% block title %}Focal & Secondary Flowers{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'focal_secondary.js') }}"></script>

<div class="checkyourunderstanding">
    <h1>check your understanding</h1>
    <p>drag and drop each flower to the correct category</p>
</div>


<div class="back_next">
    <div class="row justify-content-between">
        <div class="col-auto">
            <a href="/focal_secondary" class="btn btn-outline-primary">Back</a>
        </div>
        <div class="col-auto">
            <a href="/fillers" class="btn btn-outline-primary">Next Lesson</a>
        </div>
    </div>
</div>


{% endblock %}
