{% extends "layout.html" %}

{% block title %}Focal & Secondary Flowers{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'cyu_focal_secondary.js') }}"></script>

<div class="checkyourunderstanding">
    <h1>check your understanding</h1>
    <p>drag and drop each flower to the correct category</p>
</div>

<div class="d-flex justify-content-center">
    <div id="drag-area">
        <div class="draggable" id="focal1">
            <img src="/static/images/rose.png" alt="Rose">
        </div>
        <div class="draggable" id="secondary1">
            <img src="/static/images/Lilly.png" alt="Calla Lilly">
        </div>
        <div class="draggable" id="secondary2">
            <img src="/static/images/Carnation.png" alt="Carnations">
        </div>
        <div class="draggable" id="focal2">
            <img src="/static/images/tulip.png" alt="Tulip">
        </div>
        <div class="draggable" id="secondary3">
            <img src="/static/images/Alstroemeria.png" alt="Alstroemeria">
        </div>
        <div class="draggable" id="focal3">
            <img src="/static/images/Chrysanthemum.png" alt="Chrysanthemum">
        </div>
        <div class="draggable" id="secondary4">
            <img src="/static/images/Poppy.png" alt="Poppy">
        </div>
        <div class="draggable" id="focal4">
            <img src="/static/images/Dahlia.png" alt="Dahlia">
        </div>
        <div class="draggable" id="secondary5">
            <img src="/static/images/Scabiosa.jpg" alt="Scabiosa">
        </div>
        <div class="draggable" id="focal5">
            <img src="/static/images/Peony.png" alt="Peony">
        </div>
        <div class="draggable" id="focal6">
            <img src="/static/images/Sunflower.png" alt="Sunflower">
        </div>
        <div class="draggable" id="secondary6">
            <img src="/static/images/Daisy.png" alt="Daisy">
        </div>
    </div>
</div>

<div class="d-flex justify-content-center gap-5" id="drop-areas-container">
    <div id="drop-area-1" class="drop-area">
        Focal Flowers
    </div>

    <div id="drop-area-2" class="drop-area">
        Secondary Flowers
    </div>
</div>

<div class="back_next">
    <div class="row justify-content-between">
        <div class="col-auto">
            <a href="/focal_secondary" class="btn btn-outline-primary">Focal & Secondary Flowers</a>
        </div>
        <div class="col-auto">
            <a href="/fillers" class="btn btn-outline-primary">Fillers</a>
        </div>
    </div>
</div>

{% endblock %}
