{% extends "layout.html" %} {% block content %}
<script src="{{ url_for('static', filename='final.js') }}"></script>
<script>
  let current_selections = {{ current_selections|tojson }};
  let canvas_flowers = {{ canvas_flowers|tojson }};
</script>

<div class="content">
  <h1 class="page-title" style="color: #4a7a4a">Final Bouquet</h1>
  <h3 style="color: #4a7a4a">(Only tallies score from check your bouquet)</h2>

  <section
    class="canvas-area"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    "
  >
    <!-- Canvas -->
    <div
      id="canvas"
      class="drop-zone-canvas"
      style="position: relative; width: 800px; height: 600px; margin: 0 auto"
    ></div>

    <!-- Giant Score Display -->
    <div
      id="score"
      style="font-size: 2rem; font-weight: bold; color: #4a7a4a; margin: 0 auto"
    ></div>
  </section>
</div>

{% endblock %}
