{% extends "layout.html" %}

{% block title %}Focal & Secondary Flowers{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'focal_secondary.js') }}"></script>

<div class="focal_secondary_descriptions">
    <h1>What are focal flowers?</h1>
    <h3>Focal flowers are <strong>what stand out most</strong> in an arrangement.
        You will be drawn to them due to either their size or their eye-catching features.
        This flower features <strong>one large bloom</strong> per stem.
    </h3>
    <h1>What are secondary flowers?</h1>
    <h3>Secondary flowers <strong>support the focal flowers</strong> in a bouquet
        without overpowering the main blooms. You can identify secondary flowers by choosing
        ones that are <strong>smaller or less bold</strong> than the focal flowers.
    </h3>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="focal_secondary_vs d-flex align-items-center justify-content-center">
            <img src="/static/images/fern.avif" alt="Fern" class="img-vs" />
            <p class="mx-2 my-0">vs</p>
            <img src="/static/images/fern.avif" alt="Fern" class="img-vs" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="focal_secondary_vs d-flex align-items-center justify-content-center">
            <img src="/static/images/fern.avif" alt="Fern" class="img-vs" />
            <p class="mx-2 my-0">vs</p>
            <img src="/static/images/fern.avif" alt="Fern" class="img-vs" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="groupLabel">
            <h1>Focal Flowers</h1>
        </div>
        <div class="d-flex justify-content-between">
            <img src="/static/images/fern.avif" alt="Fern" class="img-group1" />
            <img src="/static/images/fern.avif" alt="Fern" class="img-group1" />
            <img src="/static/images/fern.avif" alt="Fern" class="img-group1" />
            <img src="/static/images/fern.avif" alt="Fern" class="img-group1" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="groupLabel">
            <h1>Secondary Flowers</h1>
        </div>
        <div class="d-flex justify-content-between">
            <img src="/static/images/fern.avif" alt="Fern" class="img-group1" />
            <img src="/static/images/fern.avif" alt="Fern" class="img-group1" />
            <img src="/static/images/fern.avif" alt="Fern" class="img-group1" />
            <img src="/static/images/fern.avif" alt="Fern" class="img-group1" />
        </div>
    </div>
</div>

<div class="cyu_button">
    <div class="col-auto">
        <a href="/cyu_focal_secondary" class="btn btn-lg cyu">Check Your Understanding!</a>
    </div>
</div>

<div class="back_next">
    <div class="row justify-content-between">
        <div class="col-auto">
            <a href="/overview" class="btn btn-outline-primary">Overview</a>
        </div>
        <div class="col-auto">
            <a href="/fillers" class="btn btn-outline-primary">Next Lesson</a>
        </div>
    </div>
</div>

{% endblock %}
