{% extends "layout.html" %}

{% block title %}Lessons{% endblock %}

{% block content %}

<div class="lesson-page">
    <br>
    <h1>Lessons</h1>
    <br>
    <h4><a href="colors.html" class="lessonlink">Colors</a></h4>
    <p>Colors set the mood and tone of a bouquet, creating harmony or contrast among the flowers.</p>
    <br>
    <h4><a href="{{ url_for('focal_secondary') }}" class="lessonlink">Focal Flower</a></h4>
    <p>The focal flower is the standout bloom that draws attention and anchors the entire bouquet. </p>
    <br>
    <h4><a href="{{ url_for('focal_secondary') }}" class="lessonlink">Secondary Flower</a></h4>
    <p>Secondary flowers support the focal flower by adding fullness and complementing its color and shape. </p>
    <br>
    <h4><a href="{{ url_for('fillers') }}" class="lessonlink">Fillers</a></h4>
    <p>Fillers are small flowers or plants that fill in gaps, add volume, and blend all elements together.</p>
    <br>
    <h4><a href="{{ url_for('greens') }}" class="lessonlink">Greens</a></h4>
    <p>Greens provide a natural backdrop that frames the bouquet and enhances its overall structure and flow.</p>
    <br>
    <h4><a href="{{ url_for('color_harmony') }}" class="lessonlink">Color Harmony</a></h4>
    <p>Color harmony brings balance and unity to your bouquet by combining shades that complement or contrast in pleasing ways.</p>
    <br>
    <h4><a href="{{ url_for('textures') }}" class="lessonlink">Textures</a></h4>
    <p>Textures add depth and visual interest by combining smooth, rough, soft, or spiky elements.</p>
    <br>

</div>

{% endblock %}
