{% extends "layout.html" %}
{% block title %}Textures{% endblock %}

{% block content %}
<br>
<h1 class="lesson-title" style="color: #4a7a4a">What is texture?</h1>
<p class="lesson-subtitle">
  Texture refers to the <strong>visual and physical qualities</strong>, such as being soft, smooth, spiky or airy.
  Combining different textures adds depth, contrast, and visual interest.
</p>

<!-- VS Image Pairs -->
<div class="d-flex justify-content-center align-items-end mb-4 flex-wrap">

    <!-- First pair -->
    <div class="text-center mx-3">
      <img src="/static/images/Carnation.png" class="img-fluid" style="max-height: 200px;" />
    </div>
    <div class="d-flex align-items-center mx-1" style="height: 200px;">
      <p class="m-0 font-weight-bold" style="font-family: 'Indie Flower', sans-serif;">vs</p>
    </div>
    <div class="text-center mx-3">
      <img src="/static/images/thistle.webp" class="img-fluid" style="max-height: 200px;" />
    </div>
  
    <!-- Spacer -->
    <div style="width: 50px;"></div>
  
    <!-- Second pair -->
    <div class="text-center mx-3">
      <img src="/static/images/Chrysanthemum.png" class="img-fluid" style="max-height: 200px;" />
    </div>
    <div class="d-flex align-items-center mx-1" style="height: 200px;">
      <p class="m-0 font-weight-bold" style="font-family: 'Indie Flower', sans-serif;">vs</p>
    </div>
    <div class="text-center mx-3">
      <img src="/static/images/waxflower.webp" class="img-fluid" style="max-height: 200px;" />
    </div>
  
  </div>
  

<!-- Texture Group 1 -->
<h4 style="font-family: 'Indie Flower', sans-serif;">Airy / Wispy / Light Texture</h4>
<div class="row text-center mb-4">
  <div class="col"><img src="/static/images/astilbe.webp" class="img-fluid texture-group-img"></div>
  <div class="col"><img src="/static/images/babys-breath.png" class="img-fluid texture-group-img"></div>
  <div class="col"><img src="/static/images/solidago.webp" class="img-fluid texture-group-img"></div>
  <div class="col"><img src="/static/images/statice.webp" class="img-fluid texture-group-img"></div>
</div>

<!-- Texture Group 2 -->
<h4 style="font-family: 'Indie Flower', sans-serif;">Soft / Rounded / Lush Texture</h4>
<div class="row text-center mb-4">
  <div class="col"><img src="/static/images/rose.png" class="img-fluid texture-group-img"></div>
  <div class="col"><img src="/static/images/tulip.png" class="img-fluid texture-group-img"></div>
  <div class="col"><img src="/static/images/Peony.png" class="img-fluid texture-group-img"></div>
  <div class="col"><img src="/static/images/Dahlia.png" class="img-fluid texture-group-img"></div>
</div>

<!-- Navigation -->
<div class="cyu_button">
  <div class="col-auto">
      <a href="/cyu_textures" class="btn btn-lg cyu">Check Your Understanding!</a>
  </div>
</div>

<div class="back_next">
  <div class="row justify-content-between">
    <div class="col-auto">
      <a href="/color_harmony" class="btn btn-outline-primary">Color Harmony</a>
    </div>
    <div class="col-auto">
      <a href="/buildit_quiz1" class="btn btn-outline-primary">Begin Quiz</a> <!-- update later if you have a next page -->
    </div>
  </div>
</div>
{% endblock %}
